.search-wrapper {
    background-color: white;
    width: 100%;
    max-width: 300px;
    height: 2rem;
    padding: 0 10px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgb(180, 180, 180);
    display: flex;
    align-items: center;
}

.search-wrapper:hover {
    box-shadow: 0 0 8px rgb(150, 150, 150);
}

input {
    border: none;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    margin-left: 5px;
}

input:focus {
    outline: none;
}

#search-icon {
    color: rgb(100, 0, 0);
}