.results {
    width: 100%;
    max-width: 300px;
    background-color: white;
    margin: 1rem 0;
    border-radius: 2px;
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.search-result {
    padding: 2px 0 4px 6px;
    font-weight: 500;
    color: rgb(100, 0, 0);
}

.search-result:hover {
    background-color: rgb(240, 240, 240);;
}